.Notation{
  display: flex;
  margin-top: -20px;
}

.Notation p{
  color: white;
  font-family: "Raleway";
  font-size: 22px;
  width: 200px;
}

.Notation-Dot-List{
  margin-left: 10%;
  width: 200px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.Notation-Dot-on{
  width: 13px;
  height: 13px;
  border-radius: 500px;
  background-color: #d80079;
}

.Notation-Dot-off{
  width: 13px;
  height: 13px;
  border-radius: 500px;
  background-color: #bac9c7;
}
